/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: #252b42;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 14px;
}

.nav a {
  text-decoration: none;
  color: #737373;
  font-weight: 500;
}

/* Hero */
.hero {
  background-image: url("../images/background/backgroung.png");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 1380px;
  height: 716px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.hero-content {
  margin-left: 8%;
  text-align: left;
  color: blue;
  padding: 2rem;
}

.hero h1 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 1rem;
}

.hero h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p{
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 2rem;
  line-height: 1.5;
  margin-right: 40%;
}

.start-btn {
  background: #2dc071;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* Editor's Pick Section */
.editor-pick {
  padding: 2rem;
  background: #f9f9f9;
  text-align: center;
}

.editor-pick h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.editor-pick p {
  font-size: 14px;
  color: #858585;
  margin-bottom: 2rem;
}

.editor-pick-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.media-item {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.media-item img {

  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.media-btn {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10%;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.media-item p {
  font-size: 14px;
  color: #333;
}
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 1%;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}
